@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    background-color: #f1f5f9;
    position: relative;
    z-index: 1;
  }
}

.bg {
  background: linear-gradient(to right, #134341, #277768);
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .chat-height {
    height: calc(100vh - 8.125rem);
  }

  @media (min-width: 1024px) {
    .chat-height {
      height: calc(100vh - 5.625rem);
    }
  }

  .inbox-height {
    height: calc(100vh - 8.125rem);
  }

  @media (min-width: 1024px) {
    .inbox-height {
      height: calc(100vh - 5.625rem);
    }
  }
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span {
  opacity: 100;
}
.tableCheckbox:checked ~ div {
  background-color: var(--primary);
  border-color: var(--primary);
}

.apexcharts-legend-text {
  color: var(--text-body);
}

.apexcharts-legend-text.dark {
  color: var(--text-bodydark);
}

.apexcharts-text {
  fill: var(--fill-body);
}

.apexcharts-text.dark {
  fill: var(--fill-bodydark);
}

.apexcharts-xcrosshairs {
  fill: var(--fill-stroke);
}

.apexcharts-xcrosshairs.dark {
  fill: var(--fill-strokedark);
}

.apexcharts-gridline {
  stroke: var(--stroke-stroke);
}

.apexcharts-gridline.dark {
  stroke: var(--stroke-strokedark);
}

.apexcharts-series.apexcharts-pie-series path.dark {
  stroke: transparent;
}

.apexcharts-legend-series {
  display: inline-flex;
  gap: 1.5;
}

.apexcharts-tooltip.apexcharts-theme-light.dark {
  background-color: var(--bg-boxdark);
  border-color: var(--border-strokedark);
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title.dark {
  background-color: var(--bg-meta-4);
  border-color: var(--border-strokedark);
}

.apexcharts-xaxistooltip.dark,
.apexcharts-yaxistooltip.dark {
  background-color: var(--bg-meta-4);
  border-color: var(--border-meta-4);
  color: var(--text-bodydark1);
}

.apexcharts-xaxistooltip-bottom:after.dark {
  border-bottom-color: var(--border-b-meta-4);
}

.apexcharts-xaxistooltip-bottom:before.dark {
  border-bottom-color: var(--border-b-meta-4);
}

.flatpickr-day.selected {
  background-color: var(--primary);
  border-color: var(--primary);
}

.flatpickr-day.selected:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: var(--primary);
}

.flatpickr-calendar.arrowTop:before.dark {
  border-bottom-color: var(--border-b-boxdark);
}

.flatpickr-calendar.arrowTop:after.dark {
  border-bottom-color: var(--border-b-boxdark);
}

.flatpickr-calendar.dark {
  background-color: var(--bg-boxdark);
  color: var(--text-bodydark);
  box-shadow: var(--shadow-8);
  padding: var(--p-6);
}

.flatpickr-day.dark {
  color: var(--text-bodydark);
}

.flatpickr-months .flatpickr-prev-month.dark,
.flatpickr-months .flatpickr-next-month.dark {
  top: -7px;
  color: var(--text-white);
  fill: var(--fill-white);
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month.dark {
  left: -7px;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month.dark {
  right: -7px;
}

span.flatpickr-weekday.dark,
.flatpickr-months .flatpickr-month.dark {
  color: var(--text-white);
  fill: var(--fill-white);
}

.flatpickr-day.inRange.dark {
  background-color: var(--bg-meta-4);
  border-color: var(--border-meta-4);
  box-shadow: var(--shadow-7);
}

.flatpickr-day.selected.dark,
.flatpickr-day.startRange.dark,
.flatpickr-day.selected.dark,
.flatpickr-day.endRange.dark {
  color: var(--text-white);
}

.map-btn .jvm-zoom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-stroke);
  background-color: var(--white);
  color: var(--text-body);
  font-size: 2rem;
  line-height: 1;
  padding: 0;
}

.map-btn .jvm-zoom-btn.dark {
  border-color: var(--border-strokedark);
}

.map-btn .jvm-zoom-btn.dark:hover {
  border-color: var(--border-primary);
}

.map-btn .jvm-zoom-btn:hover {
  background-color: var(--primary);
  color: var(--white);
  padding-top: 0.5rem;
  padding-bottom: 0;
}

.map-btn .jvm-zoom-btn.dark:hover {
  color: var(--white);
}

.mapOne .jvm-zoom-btn {
  left: auto;
  top: auto;
  bottom: 0;
}

.mapOne .jvm-zoom-btn.jvm-zoomin {
  right: 10px;
}

.mapOne .jvm-zoom-btn.jvm-zoomout {
  right: 0;
}

.mapTwo .jvm-zoom-btn {
  top: auto;
  bottom: 0;
}

.mapTwo .jvm-zoom-btn.jvm-zoomin {
  left: 0;
}

.mapTwo .jvm-zoom-btn.jvm-zoomout {
  left: 10px;
}

.taskCheckbox:checked ~ .box span {
  opacity: 100;
}

.taskCheckbox:checked ~ p {
  text-decoration: line-through;
}

.taskCheckbox:checked ~ .box {
  background-color: var(--primary);
  border-color: var(--primary);
}

.taskCheckbox:checked ~ .box.dark {
  border-color: var(--primary);
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

[x-cloak] {
  display: none !important;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-container {
  position: fixed;
  bottom: 4%;
  left: 95%;
  transform: translateX(-50%);
}

.icon-wrapper {
  position: relative;
  bottom: 0;
}

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;

  border-radius: 50%;
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.item-container {
  position: relative;
  width: 100%;
}

.item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.item-container:hover .item-content {
  background-color: rgba(0, 0, 0, 0.2);
}
.about {
  background: linear-gradient(#131515, transparent);
}
.mybackg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1549923746-c502d488b3ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHNoYWtpbmclMjBoYW5kc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.privacy {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1580847097346-72d80f164702?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cHJpdmFjeSUyMHBvbGljeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 504px;
}
.bdt-tabs-item.bdt-active {
  background-color: #eeffc9;
  width: 75%;
}

.bdt-tab-text-wrapper {
  padding: 10px; /* Add desired padding value */
}
.bdt-tabs-item.bdt-active::before {
  content: "";
  position: absolute;
  left: 75px; /* Adjust the left position to align the bar with the text */
  height: 120px;
  width: 5px; /* Adjust the width as needed */
  background-color: #00ff00; /* Replace #00ff00 with your desired bar color */
}

.bdt-tabs-item::before {
  content: "";
  position: absolute;
  left: 75px; /* Adjust the left position to align the bar with the text */
  height: 120px;
  width: 5px; /* Adjust the width as needed */
  background-color: gray; /* Replace gray with the desired default bar color */
}

@media (max-width: 768px) {
  .bdt-tabs-item.bdt-active {
    background-color: #eeffc9;
    width: 100%;
  }
}
